div {
  display: flex;
  justify-content: left;
  height: 100svh;
}
article{
  width: 1px;
}
.pillbox{
  display: flex;
  flex-direction: column;
}
.container{
  width: 27vw;
  background-color: #9ABA80;
  position: absolute;
  right: 24px;
  height: 80svh;
  top: 10svh;
  display: flex;
}
.bg-light {
  background-color: #9aba8050 !important; 
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background-color: #f8f9fa;
}

.nav-link .me-2 {
  margin-right: 8px;
}

hr {
  margin: 0 -15px;
}

a.text-dark {
  color: #000;
}

a.text-dark:hover {
  color: #000;
  text-decoration: none;
}
#logo{
  width: 100%;
  height: 16svh;
}
img{
  width: 100%;
  height: 16svh;
  object-fit: cover;
}
#one{
  width: 75%;
  color: #668150;
  margin-bottom: 0;
}
#one1{
  width: 75%;
  color: #668150;
  margin-top: 0;
}
#two{
  width: 50%;
  color: #668150;
  margin-bottom: 0;
}
#two1{
  width: 50%;
  color: #668150;
  margin-top: 0;
}
.me-2{
  font-size: 40px;
}
li{
  font-size: 30px;
}
.bg-light {
  background-color: #9aba8020;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background-color: #f8f9fa;
}

.nav-link .me-2 {
  margin-right: 8px;
}

hr {
  margin: 0 -15px;
}

a.text-dark {
  color: #000;
}

a.text-dark:hover {
  color: #000;
  text-decoration: none;
}
#logo{
  width: 100%;
  height: 16svh;
}
img{
  width: 100%;
  height: 16svh;
  object-fit: cover;
}
#one{
  width: 75%;
  color: #668150;
  margin-bottom: 0;
}
#one1{
  width: 75%;
  color: #668150;
  margin-top: 0;
}
#two{
  width: 50%;
  color: #668150;
  margin-bottom: 0;
}
#two1{
  width: 50%;
  color: #668150;
  margin-top: 0;
}
.me-2{
  font-size: 40px;
}
li{
  font-size: 30px;
}
#map-container{
 width: 90%;
}
#Time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}