.pillbox {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.opening-hours h4 {
    margin-top: 15px;
    color: #9ABA80;
}

.opening-hours ul {
    list-style-type: none;
    padding-left: 0;
}

.opening-hours li {
    margin-bottom: 5px;
}
